{% extends 'generic/base.html' %}
{% load widget_tweaks %}
{% block title %}Cadastro de Entidade{% endblock %}
{% block content %} {% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
<link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/base/base.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<div class="limiter">
  <div class="container-login100">
    <div class="d-flex wrap-login100 justify-content-center w-75" style="gap: 2rem;">

      <span class="login100-form-title pb-1">
        Detalhes da entidade {{ entidade.nome }}
      </span>

      <div class="login100-form m-0">
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}

        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}

          <div class="wrap-input100">
            {% render_field field class="input100" disabled="true" %}

            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa {{ field.field.widget.attrs.icone }}" aria-hidden="true"></i>
            </span>
          </div>

          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% endfor %}

      </div>

    </div>
  </div>
  {% endblock %}