{% extends 'generic/base.html' %}
{% block title %}Entidades{% endblock %}
{% load user_tags %}
{% block content %} {% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'img/forms/Group-Icon.png' %}">
{% endblock %}
{% if user.is_superuser %}

  <div class="limiter" >
    <div class="container-login100" >
      <div class="d-flex wrap-login100"  style="gap: 2rem;">
  
        <div class="login100-pic col-sm-4">
          <img src="{% static 'img/forms/Group-Icon.png' %}" alt="IMG">
        </div>
  
  
        <form class="login100-form mb-0 col-7" action="" method="get">
          {% csrf_token %}
  
          <span class="login100-form-title pb-4">
            Categorias cadastradas
          </span>
  
          <div class="wrap-input100">
  
            <div class="wrap-input100">
  
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
  
              <form action="" method="get">
  
                <div class="search">
                  <input type="text" value="{{ request.GET.search }}" name="search" class="search input100" placeholder="Busque pelo nome da entidade">
                
                  <button class="btn btn-outline-primary p-3 rounded-circle ml-2">
                    <i class="float-right fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
  
              </form>
  
            </div>
  
            <div class="buttons col-md-8 pt-3 m-auto pb-2 justify-content-center" >
  
              <div class="container-login100-form-btn">
                <a class="salvar-form-btn m-0" href="{% url 'Cadastro de Entidades' %}">
                  Adicionar nova entidade
                </a>
              </div>
    
            </div>
  
          </div>
  
        </form>
  
        <table class="table table-striped table-light w-100 table-hover table-responsive-sm text-justify">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">CNPJ</th>
              <th class="text-center">Nome</th>
              <th class="text-center">E-mail</th>
              <th class="text-center">Endereço</th>
              <th class="text-center">Telefone</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for entidade in entidades_list %}
            <tr>
              <td class="text-center">{{ entidade.pk }} </td>
              <td class="text-center">{{ entidade.cnpj}} </td>
              <td class="text-center">{{ entidade.nome}} </td>
              <td class="text-center">{{ entidade.email}} </td>
              <td class="text-center">{{ entidade.endereco}} </td>
              <td class="text-center">{{ entidade.telefone}} </td>
              <td class="text-center icons-td">
                <a href="{% url 'Editar Entidade' entidade.pk %}" class="edit">
                  <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                </a>
                <a href="{% url 'Excluir Entidade' entidade.pk %}" class="delete" id="deletarEntidade" data-toggle="modal" data-target="#deleteCascade">
                    <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
        {% include "includes/pagination.html" %}
        
  
      </div>
    </div>

  {% endif %}

  <script>

    // Atualizando o action do form da confirmação de exclusão (no modal do base.html)
    function atualizaActionFormDeleteCascade() {
      document.getElementById('formDeleteCascade').action = document.getElementById('deletarEntidade').href;
    }

  </script>
{% endblock %}
