{% extends 'generic/base.html' %}
{% block title %}Usuários{% endblock %}
{% load user_tags %}
{% block content %} {% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'img/forms/Group-Icon.png' %}">
  {% endblock %}
  {% if user.is_superuser %}

  <div class="limiter" >
    <div class="container-login100" >
      <div class="d-flex wrap-login100"  style="gap: 2rem;">

        <!-- Exibe erros retornadas da view ou form, caso houver -->
        {% if messages %}
        <div class="form-group row w-100 ml-0 mb-0">
        <ul class="messages p-0 text-center w-100" role="alert">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} py-0 m-0" {% endif %}>{{ message }}</li>
            {% if form.erros %}
            <li class="alert alert-warning py-0 m-0">{{ form.non_field_errors }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        </div>
        {% endif %}
  
        <div class="login100-pic col-sm-4">
          <img src="{% static 'img/forms/Group-Icon.png' %}" alt="IMG">
        </div>
  
  
        <form class="login100-form mb-0 col-7" action="" method="get">
          {% csrf_token %}
  
          <span class="login100-form-title pb-4">
            Usuários cadastrados
          </span>
  
          <div class="wrap-input100">
  
            <div class="wrap-input100">
  
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
  
              <form action="" method="get">
  
                <div class="search">
                  <input type="text" value="{{ request.GET.search }}" name="search" class="search input100" placeholder="Busque pelo nome do usuário">
                
                  <button class="btn btn-outline-primary p-3 rounded-circle ml-2">
                    <i class="float-right fa fa-search" aria-hidden="true"></i>
                  </button>
                </div>
  
              </form>
  
            </div>

  
          </div>
  
        </form>
  
        <table class="table table-striped table-light w-100 table-hover table-responsive-sm text-justify">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Usuário</th>
              <th class="text-center">Permissão</th>
              <th class="text-center">Situação</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for usuarios in usuarios_list %}
            <tr>
              <td class="text-center">{{ usuarios.pk }} </td>
              <td class="text-center">{{ usuarios.username }} </td>

              {% if usuarios.is_superuser %}
              <td class="text-center"> Administrador </td>
              {% else %}
              <td class="text-center"> Usuário comum </td>
              {% endif %}

              {% if usuarios.is_active %}
              <td class="text-center"> Ativo </td>
              {% else %}
              <td class="text-center"> Inativo </td>
              {% endif %}

              <td class="text-center icons-td">
                <a href="{% url 'Editar Usuário' usuarios.pk %}" class="edit">
                  <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  
        {% include "includes/pagination.html" %}
        
  
      </div>
    </div>

  {% endif %}

{% endblock %}
