{% extends 'generic/base.html' %}
{% block title %}Entidades{% endblock %}
{% load user_tags %}
{% block content %} {% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}
  {% if user.is_superuser %}
  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row spacing mt-3">
            <div class="col-sm-7">
                <h2>Entidades</h2>
                <br>
              <form action="" method="get">
                <div class="search col">
                  <input value="{{ request.GET.search }}" name="search" type="text" class="search form-control" placeholder="Nome da Entidade">
                  <button type="submit" id="find">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="btn-principal">
                    <a href="{% url 'Cadastro de Entidades' %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Adicionar nova Entidade</span></a>
            </div>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive-sm text-justify">
        <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">CNPJ</th>
              <th class="text-center">Nome</th>
              <th class="text-center">Email</th>
              <th class="text-center">Endereço</th>
              <th class="text-center">Telefone</th>
            </tr>
          </thead>
          <tbody>
            {% for entidade in entidades_list %}
            <tr>
              <td class="text-center">{{ entidade.pk }} </td>
              <td class="text-center">{{ entidade.cnpj}} </td>
              <td class="text-center">{{ entidade.nome}} </td>
              <td class="text-center">{{ entidade.email}} </td>
              <td class="text-center">{{ entidade.endereco}} </td>
              <td class="text-center">{{ entidade.telefone}} </td>
              <td class="text-center icons-td">
                <a href="{% url 'Excluir Entidade' entidade.pk %}" class="delete" id="deletarEntidade" data-toggle="modal" data-target="#deleteCascade">
                    <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}
  {% include "includes/pagination.html" %}

  <script>

    // Atualizando o action do form da confirmação de exclusão (no modal do base.html)
    function atualizaActionFormDeleteCascade() {
      document.getElementById('formDeleteCascade').action = document.getElementById('deletarEntidade').href;
    }

  </script>
{% endblock %}
