{% extends 'generic/base.html' %}
{% block title %}Representantes{% endblock %}
{% load user_tags %}
  {% block content %} {% block styles %}
  <link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}
  {% if user.is_authenticated %}
  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row spacing mt-3">
            <div class="col-sm-7">
                <h2>Representantes</h2>
                <br>
              <form action="" method="get">
                <div class="search col">
                  <input value="{{ request.GET.search }}" name="search" type="text" class="search form-control" placeholder="Nome ou CPF do representante">
                  <button type="submit" id="find">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="btn-principal">
                    <a href="{% url 'Cadastro de Representantes' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Adicionar novo representante</span></a>
            </div>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive-sm text-justify">
        <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Nome</th>
              <th class="text-center">CPF</th>
              <th class="text-center">Endereco</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for representantes in representantes_list %}
            <tr>
              <td class="text-center">{{ representantes.pk }}</td>
              <td class="text-center">{{ representantes.nome }}</td>
              <td class="text-center">{{ representantes.cpf }}</td>
              <td class="text-center">{{ representantes.endereco }}</td>
              <td class="text-center icons-td">
                <a href="{% url 'Detalhes Representante' representantes.pk %}" class="details">
                  <span class="material-icons">
                    visibility
                  </span>
                </a>
                <a href="{% url 'Editar Representante' representantes.pk %}" class="edit">
                  <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                </a>
                {% if user.is_superuser %}
                <a href="{% url 'Excluir Representante' representantes.pk %}" class="delete" id="deletarRepresentante" data-toggle="modal" data-target="#delete">
                  <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
                </a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}
  {% include "includes/pagination.html" %}

  <script>

    // Atualizando o action do form da confirmação de exclusão (no modal do base.html)
    function atualizaActionFormDelete() {
      document.getElementById('formDelete').action = document.getElementById('deletarRepresentante').href;
    }

  </script>
{% endblock %}
