{% extends 'generic/base.html' %}
{% block title %}Usuários{% endblock %}
{% load user_tags %}
{% block content %} {% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}
  {% if user.is_superuser %}
  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row spacing mt-3">
            <div class="col-sm-7">
                <h2>Usuários</h2>
                <br>
              <form action="" method="get">
                <div class="search col">
                  <input value="{{ request.GET.search }}" name="search" type="text" class="search form-control" placeholder="Nome do usuário">
                  <button type="submit" id="find">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>

            <div class="btn-principal">
                    <a href="{% url 'Cadastro de Representantes' %}" class="btn btn-success" ><i class="material-icons">&#xE147;</i> <span>Adicionar novo usuário</span></a>
            </div>
          </div>
      </div>
      <table class="table table-striped table-hover table-responsive-sm text-justify">
        <thead>
            <tr>
              <th class="text-center">ID</th>
              <th class="text-center">Usuário</th>
              <th class="text-center">Papel</th>
              <th class="text-center">Situação</th>
              <th class="text-center">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for usuarios in usuarios_list %}
            <tr>
              <td class="text-center">{{ usuarios.pk }} </td>
              <td class="text-center">{{ usuarios.username }} </td>

              {% if usuarios.is_superuser %}
              <td class="text-center"> Administrador </td>
              {% else %}
              <td class="text-center"> Representante </td>
              {% endif %}

              {% if usuarios.is_active %}
              <td class="text-center"> Ativo </td>
              {% else %}
              <td class="text-center"> Inativo </td>
              {% endif %}

              <td class="text-center icons-td">
                <a href="{% url 'Editar Usuário' usuarios.pk %}" class="edit">
                  <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  {% endif %}
  {% include "includes/pagination.html" %}
{% endblock %}
