{% extends 'generic/base.html' %}
{% block title %}Itens{% endblock %}
{% load user_tags %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/forms/Itens-Icon.png' %}">
{% endblock %}
{% if user.is_authenticated %}

<div class="limiter">
  <div class="container-login100">
    <div class="d-flex wrap-login100" style="gap: 2rem;">

      <div class="login100-pic col-sm-4">
        <img src="{% static 'img/forms/Itens-Icon.png' %}" alt="IMG">
      </div>


      <form class="login100-form mb-0 col-7" action="" method="get">
        {% csrf_token %}

        <span class="login100-form-title pb-4">
          Itens cadastrados
        </span>

        <div class="wrap-input100">

          <div class="wrap-input100">

            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>

            <form action="" method="get">

              <div class="search">
                <input type="text" value="{{ request.GET.search }}" name="search" class="search input100"
                  placeholder="Busque pela descrição ou categoria do item">

                <button class="btn btn-outline-primary p-3 rounded-circle ml-2">
                  <i class="float-right fa fa-search" aria-hidden="true"></i>
                </button>
              </div>

            </form>

          </div>

          <div class="buttons pt-4 pb-2">

            <div class="container-login100-form-btn">
              <a class="salvar-form-btn" href="{% url 'Cadastro de Itens' %}">
                Adicionar
              </a>
            </div>

            <div class="container-login100-form-btn">
              <a class="salvar-form-btn bg-primary" href="{% url 'listar_itens_relatorio' %}">
                Exibir todos
              </a>
            </div>

          </div>

        </div>

      </form>

      <table class="table table-striped table-light w-100 table-hover table-responsive-sm text-justify">

        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Descrição</th>
            <th class="text-center">Categoria do item</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for itens in itens_list %}
          <tr>
            <td class="text-center"> {{ itens.pk }} </td>
            <td class="text-center"> {{ itens.descricao }} </td>
            <td class="text-center">{{ itens.categoria }}</td>
            <td class="text-center icons-td">
              <a href="{% url 'Editar Item' itens.pk %}" class="edit">
                <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
              </a>

              {% if user.is_superuser %}
              <a href="{% url 'Excluir Item' itens.pk %}" class="delete" id="deletarItem" data-toggle="modal"
                data-target="#delete">
                <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>

      {% include "includes/pagination.html" %}

    </div>
  </div>
  {% endif %}

  <script>

    // Atualizando o action do form da confirmação de inativação (no modal do base.html)
    function atualizaActionFormDelete() {
      document.getElementById('formDelete').action = document.getElementById('deletarItem').href;
    }

  </script>
  {% endblock %}