{% extends 'generic/base.html' %}
{% block title %}Cadastro de Integrante Familiar{% endblock %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load user_tags %}
{% load static %}
  <link rel="icon" type="image/x-icon" href="{% static 'img/forms/Family-Icon.png' %}">
{% endblock %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic">
        <img src="{% static 'img/forms/Family-Icon.png' %}" alt="IMG">
      </div>

      <form class="login100-form mb-4" method="post" id="familia">
        {% csrf_token %}
        <span class="login100-form-title pb-4">
          Cadastro de Integrante Familiar
        </span>

        <label for="idFamilia">Família:</label>
        <div class="wrap-input100" style=" z-index: 2;">
          <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" name="idFamilia" id="familias" placeholder="Selecione a família do integrante" type="text" required/>
            <ul class="autocomplete-result-list"></ul>
          </div>
        </div>

        <label for="nomeIntegrante">Nome:</label>
        <div class="wrap-input100">
          <input class="input100" type="text" placeholder="Nome do integrante" id="nomeIntegrante" name="nomeIntegrante" maxLength='100' minLength='2' required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user" aria-hidden="true"></i>
          </span>
        </div>

        <label for="cpfIntegrante">CPF:</label>
        <div class="wrap-input100">
          <input class="input100" type="text" placeholder="CPF do integrante" id="cpfIntegrante" name="cpfIntegrante" minLength='11' oninput="clearInput(this)" required> 
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-address-card" aria-hidden="true"></i>
          </span>
        </div>

        <div class="buttons">

          <div class="container-login100-form-btn">
            <button class="salvar-form-btn" onclick="sendData()">
              Salvar
            </button>
          </div>

          <div class="container-login100-form-btn">
            <button class="limpar-form-btn" onclick="limpar()">
              Limpar
            </button>
          </div>

        </div>




      </form>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>

<script>
    let familias= [];
    let familiasUserInput = document.getElementById("familias");
    let selectedFamily = "";
    /*
      function loadFamily(familaInput) {
        const url= `/searchFamiliaByCpfAndReturnTheName/?cpf=${familaInput}`
        let ret = new Promise(resolve=>{
            fetch(url)
            .then(response => response.json())
            .then(data=>{
                resolve(String(data.data))
            })
        })

        ret.then((val)=> {
          if(val.length > 0 && val != "" & val != undefined) {
            let hiddenField = document.getElementById("nomeChefeFamilia")
            hiddenField.innerHTML = val
          } else {
            let hiddenField = document.getElementById("nomeChefeFamilia")
            hiddenField.innerHTML = " Não encontrado!!!"
          }
        })
      }
    */

    window.onload = () => {
      const cpfInput = document.getElementById("cpfIntegrante");

      if (cpfInput)
        cpfInput.addEventListener("paste", () => {
          clearInput(cpfInput);
        });
    }

    const clearInput = (input) => {
        input.value = input.value.replace(/\D+/g, '');
    }

    function limpar() {
        const inputFamilia = document.querySelector("#familias")
        inputFamilia.disabled = false;
        document.getElementById("familias").value = ""
        document.getElementById("cpfIntegrante").value = ""
        document.getElementById("nomeIntegrante").value = ""
    }

    function sendData() {

      if(validateInput()) {
        if(selectedFamily != "") {
          selectedFamily = selectedFamily.split("/")[0].trim()
          
          familias.forEach((value) =>{
            if(String(value).split("/")[0].trim() == selectedFamily){
              familiasUserInput.value = selectedFamily
              familiasUserInput.disabled = false;
              
              document.forms.familia.submit()
            }
          })
        }

        familiasUserInput.classList.add("form-control")
        familiasUserInput.classList.add("is-invalid")
      }
    }

    function validateInput(){
      //VALIDAÇÃO DE TODOS CAMPOS, POIS UTILIZANDO ONCLICK NO BOTAO ELE PULA AS TAGS REQUIRED DO HTML E SE MUDAR PARA O FORM ONSUBMIT ELE ENVIA PRIMEIRO
      //SEM CONSULTAR A FUNÇÃO
      let nome = document.getElementById("nomeIntegrante")
      let cpf = document.getElementById("cpfIntegrante")
      let erroNome
      let erroCpf

      if(validaNome(nome.value)) {
        nome.classList.add("form-control")
        nome.classList.add("is-valid")
        nome.classList.remove("is-invalid")
        erroNome = false
      } else {
        erroNome = true
        nome.classList.add("form-control")
        nome.classList.add("is-invalid")
        nome.classList.remove("is-valid")
      }

      if(validaCpf(cpf.value)) {
        cpf.classList.add("form-control")
        cpf.classList.add("is-valid")
        cpf.classList.remove("is-invalid")
        erroCpf = false
      } else {
        erroCpf = true
        cpf.classList.add("form-control")
        cpf.classList.add("is-invalid")
        cpf.classList.remove("is-valid")
      }

      if(erroNome || erroCpf)
        return false

      return true
    }

    function validaNome(nome) {
      if(nome.length > 1)
        return true
      return false
    }

    function validaCpf(cpf) {
      if(cpf.length === 11 && cpfChecker(cpf))
        return true
      return false
    }

    function cpfChecker(strCPF) {
          var Soma;
          var Resto;
          Soma = 0;
        if (strCPF == "00000000000") return false;

        for (i=1; i<=9; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);
        Resto = (Soma * 10) % 11;

          if ((Resto == 10) || (Resto == 11))  Resto = 0;
          if (Resto != parseInt(strCPF.substring(9, 10)) ) return false;

        Soma = 0;
          for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);
          Resto = (Soma * 10) % 11;

          if ((Resto == 10) || (Resto == 11))  Resto = 0;
          if (Resto != parseInt(strCPF.substring(10, 11) ) ) return false;
          return true;
    }

    new Autocomplete('#autocomplete',{
        search: input=> {
            const url= `/searchFamiliaByName/?nomeChefeFamilia=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    familias.push((data.data))
                    resolve(data.data)
                })
            })
        },

        onSubmit: (result) => {
          const inputFamilia = document.querySelector("#familias")

          selectedFamily = result;

          inputFamilia.disabled = true;

        }
    })


</script>
{% endblock %}
