{% extends 'generic/base.html' %}
{% block title %}Família de {{ familia.nomeChefeFamilia }}{% endblock %}
{% block content %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
{% endblock %}

<div class="limiter">
  <div class="container-login100">
    <div class="d-flex wrap-login100" style="gap: 2rem;">

        <span class="login100-form-title pb-2">
          Detalhes da família de {{ familia.nomeChefeFamilia }}
        </span>


      <table class="table table-striped table-light table-responsive-sm text-justify">
        <thead>
          <tr>
            <th class="text-left col">Integrantes da família</th>
            <th class="text-center col-3">CPF</th>
            <th class="text-center col">Endereço</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left"><b>Responsável:</b> {{ familia.nomeChefeFamilia }}</td>
            <td class="text-center"> {{ familia.cpfChefeFamilia }}</td>
            <td class="text-left"> {{ familia.enderecoChefeFamilia }}</td>
          </tr>
          {% if integrantesFamilia %}
          {% for integranteFamilia in integrantesFamilia %}
          <tr>
            <td class="text-left"><b>Integrante {{ forloop.counter }}:</b> {{ integranteFamilia }}</ttdh>
            <td class="text-center"> {{ integranteFamilia.cpf }}</td>
            <td class="text-left"> </td>
          </tr>
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
      
    </div>
  </div>

  {% endblock %}