{% extends 'generic/base.html' %}
{% load user_tags %}
{% block title %}Famílias{% endblock %}
{% block content %}
{% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% load user_tags %}
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/forms/Family-Icon.png' %}">
{% endblock %}
{% if user.is_authenticated %}
<div class="limiter">
  <div class="container-login100" id="round">
    <div class="wrap-login100" id="round-top">
      <div class="login100-pic">
        <img src="{% static 'img/forms/Family-Icon.png' %}" alt="IMG">
      </div>
      <div class="row">

        <span class="login100-form-title">
          Famílias
        </span>

        <form class="login100-form" action="" method="get">

          <div class="buttons">

            <div class="container-login100-form-btn">
              <div class="clearfix">
                <div class=float-left>
                  <div class="btn-principal">
                    <a href="{% url 'Cadastro de Famílias' %}" class="btn btn-success"><i
                        class="material-icons">&#xE147;</i>
                      <span>Adicionar nova família</span></a>
                  </div>
                </div>
                <div class=float-left>
                  <div class="btn-principal">
                    <a href="{% url 'listar_familias_relatorio' %}" class="btn btn-primary">
                      Exibir tudo
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="wrap-input100">

            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>

            <form action="" method="get">
              <div class="search col">
                <input value="{{ request.GET.search }}" name="search" type="text" class="search form-control"
                  placeholder="Nome ou CPF do chefe de família">
                <button type="submit" id="find">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </form>


          </div>



        </form>
      </div>



      <table class="table table-striped table-hover table-responsive-sm text-justify">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Nome Chefe Familia</th>
            <th class="text-center">CPF</th>
            <th class="text-center">Endereco</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for familias in familias_list %}
          <tr>
            <td class="text-center"> {{ familias.pk }} </td>
            <td class="text-center"> {{ familias.nomeChefeFamilia }} </td>
            <td class="text-center">{{ familias.cpfChefeFamilia }}</td>
            <td class="text-center">{{ familias.enderecoChefeFamilia }}</td>
            <td class="text-center icons-td">
              <a href="{% url 'Detalhes Familia' familias.pk %}" class="details">
                <span class="material-icons">
                  visibility
                </span>
              </a>
              <a href="{% url 'Editar Familia' familias.pk %}" class="edit">
                <i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i>
              </a>
              {% if user.is_superuser %}
              <a href="{% url 'Excluir Familia' familias.pk %}" class="delete" id="deletarFamilia" data-toggle="modal"
                data-target="#deleteCascade">
                <i class="material-icons" data-toggle="tooltip" title="Excluir">&#xE872;</i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
  {% include "includes/pagination.html" %}

  <script>

    // Atualizando o action do form da confirmação de exclusão (no modal do base.html)
    function atualizaActionFormDeleteCascade() {
      document.getElementById('formDeleteCascade').action = document.getElementById('deletarFamilia').href;
    }

  </script>
  {% endblock %}