{% extends 'base.html' %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<div class="col">
  <div class="table-wrapper" id="round">
    <div class="table-title" id="round-top">
      <div class="row">
        <div class="col-sm-7">
          <h2>Cadastro:</h2>
          <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
        {% for field in form.visible_fields %}
        <div class="form-group">
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
          {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %}
        </div>
        {% endfor %}
        <p align="right"><button type="submit" class="btn btn-success">Salvar</button></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}