{% extends 'base.html' %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load user_tags %}
{% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
{% endblock %}

<div class="col">
  <div class="table-wrapper" id="round">
    <div class="table-title" id="round-top">
      <div class="row">
        <div class="col-sm-7">
          <h2>Cadastro Integrante Familiar :</h2>
          <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">
      <form method="post" id="familia">
        {% csrf_token %}
        <label>Familia :</label>
        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" name="idFamilia" onchange="loadFamily(this.value)" oninput="loadFamily(this.value)" id="familias" type="text" maxLength='11' minLength='11' required/>
            <ul class="autocomplete-result-list"></ul>
        </div>
        <p class="d-inline"><b>Nome Chefe familiar :</b></p> <p class="d-inline" id="nomeChefeFamilia"></p> <br/>
        <label class="mt-2">CPF :</label>
        <input type="text" class="form-control" id="cpfIntegrante" name="cpfIntegrante" maxLength='11' minLength='11' required> </input>
        <label>Nome :</label>
        <input type="text" class="form-control" id="nomeIntegrante" name="nomeIntegrante" maxLength='100' minLength='2' required> </input>
        <button type="button" onclick="sendData()" class="btn btn-success mt-3">Salvar</button>
      </form>
    </div>
  </div>
</div>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
    let familias= []

    function loadFamily(familaInput) {
      const url= `/searchFamiliaByCpfAndReturnTheName/?cpf=${familaInput}`
      let ret = new Promise(resolve=>{
          fetch(url)
          .then(response => response.json())
          .then(data=>{
              resolve(String(data.data))
          })
      })
    
      ret.then((val)=> {
        if(val.length > 0 && val != "" & val != undefined) {
          let hiddenField = document.getElementById("nomeChefeFamilia")
          hiddenField.innerHTML = val
        } else {
          let hiddenField = document.getElementById("nomeChefeFamilia")
          hiddenField.innerHTML = " Não encontrado!!!"
        }
      })
    }

    function sendData() {
      let familiasUserInput = document.getElementById("familias")
      let familiasUserInputValue = familiasUserInput.value

      if(validateInput()) {
        if(familiasUserInputValue != "") {
          familias.forEach((value) =>{
            if(String(value) == familiasUserInputValue){
              document.forms.familia.submit()
            }
          })
        }

        familiasUserInput.classList.add("form-control")
        familiasUserInput.classList.add("is-invalid")
      }
    }

    function validateInput(){
      //VALIDAÇÃO DE TODOS CAMPOS, POIS UTILIZANDO ONCLICK NO BOTAO ELE PULA AS TAGS REQUIRED DO HTML E SE MUDAR PARA O FORM ONSUBMIT ELE ENVIA PRIMEIRO 
      //SEM CONSULTAR A FUNÇÃO
      let nome = document.getElementById("nomeIntegrante")
      let cpf = document.getElementById("cpfIntegrante")
      let erroNome
      let erroCpf 
  
      if(validaNome(nome.value)) {
        nome.classList.add("form-control")
        nome.classList.add("is-valid")
        erroNome = false
      } else {
        erroNome = true
        nome.classList.add("form-control")
        nome.classList.add("is-invalid")
      }

      if(validaCpf(cpf.value)) {
        cpf.classList.add("form-control")
        cpf.classList.add("is-valid")
        erroCpf = false
      } else {
        erroCpf = true
        cpf.classList.add("form-control")
        cpf.classList.add("is-invalid")
      }

      if(erroNome || erroCpf)
        return false

      return true
    }

    function validaNome(nome) {
      if(nome.length > 5)
        return true
      return false
    }

    function validaCpf(cpf) {
      if(cpf.length === 11) 
        return true
      return false
    }

    new Autocomplete('#autocomplete',{
        search: input=> {
            const url= `/searchFamiliaByCpf/?cpf=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    familias.push((data.data))
                    resolve(data.data)
                })
            })
        }
    })
</script>
{% endblock %}