{% extends 'base.html' %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load user_tags %}
{% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
{% endblock %}

<div class="col">
  <div class="table-wrapper" id="round">
    <div class="table-title" id="round-top">
      <div class="row">
        <div class="col-sm-7">
          <h2>Cadastro:</h2>
          <div class="col-md-1 col-xs-1 col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">
      <form method="post">
        {% csrf_token %}
        <label>Familia :</label>
        <div id="autocomplete" class="autocomplete">
            <input class="autocomplete-input" name="idFamilia" type="text" maxLength='11' minLength='11' required/>
            <ul class="autocomplete-result-list"></ul>
        </div>
        <label>CPF :</label>
        <input type="text" class="form-control" name="cpfIntegrante" maxLength='11' minLength='11' required> </input>
        <label>Nome :</label>
        <input type="text" class="form-control" name="nomeIntegrante" maxLength='100' minLength='2' required> </input>
        <button type="submit" class="btn btn-success mt-3">Salvar</button>
      </form>
    </div>
  </div>
</div>
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
    new Autocomplete('#autocomplete',{
        search: input=> {
            const url= `/searchFamiliaByCpf/?cpf=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    resolve(data.data)
                })
            })
        }
    })
</script>
{% endblock %} 