
{% extends 'base.html' %}
{% block content %}{% block styles %}
{% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}
{% if user.is_authenticated %}
<div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row">
            <div class="col-sm-7">
                <h2>Buscar CPF:</h2>
            <div class="col-md-10 col-xs-10 col-sm-10">
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
         </div>
        </div> 
        <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">
        <form method="post" id="cpfFamilia"> 
            <div id="form_responsavel"> {% csrf_token %}
                <div class="form-group col-xs-12">
                    <div id="autocomplete" class="autocomplete" >
                        <input class="autocomplete-input form-control" name="cpf" id="cpf" placeholder="Somente numeros" maxLength="11" minLength="11" required/>
                        <ul class="autocomplete-result-list form-control"></ul>
                    </div>
                </div>
            </div>
            <button type="button" onclick="sendData()" class="btn btn-primary btn-lg">Buscar</button>
        </form>
    </div>
    </div> 
</div>  
{% endif %}
<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>

    function sendData() {
        sendCpf = String(document.getElementById("cpf").value).split(":")[1].trim()
        document.getElementById("cpf").value = sendCpf
        document.forms.cpfFamilia.submit()
    }
   

    new Autocomplete('#autocomplete',{
        search: input=> {
            const url= `/searchFamiliaByCpf/?cpfChefeFamilia=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    console.log(data)
                    resolve(data.data)
                })
            })
        }
    })
</script>
{% endblock %}
