{% extends 'base.html' %}
  {% block content %} {% block styles %} 
  {% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}
  {% if user.is_authenticated %}
  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row">
            <div class="col-sm-7">
                <h2>Entidade: {{ entidade.nome }}</h2>
            <div class="col-md-10 col-xs-10 col-sm-10">
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
         </div>
        </div> 
                    <br>
                    <p>CNPJ: {{ entidade.cnpj }}</p>
                    <p>Telefone: {{ entidade.telefone }}</p>
                    <p>Email: {{ entidade.email }}</p>
                    <p>Endereço: {{ entidade.endereco }}</p>
                    <br>
    </div> 
</div>  
{% endif %}
{% endblock %}