{% extends 'base.html' %}
  {% block content %} {% block styles %} 
  <link rel="stylesheet" href="../static/css/listas/listas.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
          <div class="row">
            <div class="col-sm-7">
                <h1>Doação</h1>
                <br>
            <div class="col-md-10 col-xs-10 col-sm-10">
                <h1>ID da Doação: {{ doacao.pk }} </h1>
                    <br>
                    <p>A Definir</p>
                    <br>
            </div>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
            </div>
         </div>
        </div> 
    </div> 
</div>  
{% endblock %}