{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/login/login.css' %}">

	</head>
	<body>
	<section class="pedding-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class=" col-lg-5">
		      	
		      		 <h3 class="text-center ">Você escolheu sair</h3>
					   <br>
					   <br>
					   <div style="text-align: center">
						<a href="{% url 'login'%}" class="form-control btn">Voltar</a>
					   </div>
	       			 </div>
			</div>
		</div>
	</section>
	</body>
</html>

