{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css/login/login.css' %}">

	</head>
	<body>
	<section class="pedding-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class=" col-lg-5">
					<div class="login-wrap padding-wrap">
		      	
		      		 <h3 class="text-center ">Rede de Soliedariedade</h3>
						<form method="post" action="{% url 'login' %}" class="login-form">
							{% csrf_token %}
		      				<div class="form-group">
								<table>
									<tr>
									  <td>{{ form.username.label_tag }}</td>
									  <td>{{ form.username }}</td>
									</tr>
								  </table>
		      				</div>
	            			<div class="form-group ">
								<table>
									<tr>
									  <td>{{ form.password.label_tag }}</td>
									  <td>{{ form.password }}</td>
									</tr>
								  </table>
	            			</div>
	            			<div class="form-group">
								<input type="submit" class="form-control btn" value="Entrar" />
								<input type="hidden" name="next" value="{{ next }}" />
	            			</div>
	          			</form>
	       			 </div>
				</div>
			</div>
		</div>
	</section>
	</body>
</html>

