{% extends 'baseRegistration.html' %}
{% block title %}Redefinição de senha{% endblock %}

{% block content %}

  <div class="container d-flex align-items-center justify-content-center h-100">
    <div class="justify-content-center">

      <div class="card text-center d-flex p-5">
        <h1 class="pl-4 pr-4 pb-4">Redefinição de senha</h1>
        
        <p class="px-4">Digite o seu endereço de email cadastrado no campo abaixo e nós iremos lhe enviar um email com instruções para configurar uma nova.</p>

        <div class="text-left ">
          <form class="row px-4 justify-content-center align-items-center" method="POST">
            <div class="pt-3">
              {% csrf_token %}
              {{ form.as_p }}
            </div>

          <div class="pl-5 pb-2">
              <input type="submit" value="Enviar!" class="btn btn-primary px-5">
          </div>

          </form>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
