{% extends 'baseRegistration.html' %}
{% block title %}Senha alterada{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
        <div class="row">
          <div class="col-sm-7">
            <h2>Senha redefinida com sucesso</h2>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
          </div>
        </div>
      </div>
      <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">

        <p>Sua senha foi redefinida com sucesso. Você já pode utilizar o sistema normalmente.</p>

      </div>
    </div>
  </div>

{% endblock %}
