
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');


body {
  color: #868686 !important;
  background: #000 !important;
  font-family: 'Poppins', sans-serif !important;
}

#round {
  border-radius: 5px !important;
}

#round-top {
  border-radius: 5px 5px 0 0;
}

.search {
  display: flex !important;
}

input[type="text"] {
  border-radius: 5px 0 0 5px;
}

#find {
  background-color: rgb(35, 35, 35);
  border: none;
  padding: 0.5em 1.25em;
  border-radius: 0 5px 5px 0;
}

#find:hover {
  background-color: rgb(25, 25, 25);
  color: rgb(223, 223, 223);
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius:1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.container h2 {
  font-size: 25px !important;
  font-weight: bold;
}


.table-title {        
  padding-bottom: 15px;
  background: rgb(77, 77, 77) !important;
  color: #fff;
  padding: 20px 30px;
  margin: -20px -25px 10px;
  border-radius: 1px 1px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn-group {
  float: right;
}

.table-title .btn {
  color: #fff;
  float: right;
  font-size: 13px;
  border: none;
  min-width: 50px;
  border-radius: 1px;
  border: none;
  outline: none !important;
  margin-left: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th, table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #e6e6e6;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
} 

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  outline: none !important;
}

table.table td a:hover {
  color: #2196F3;
}

/*Estilizacao ICONS - Menu*/

.icons-td {
    display: flex;
    align-items: center;
    justify-content: center;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.edit:hover {
  color: #ffc10767;
}

table.table td a.delete {
    color: #F44336;
}

table.table td a.delete:hover {
  color: #f443365d;
}

table.table td a.details {
  color: rgb(0, 102, 255);
  margin-right: 8px;
}

table.table td a.details:hover {
  color: rgba(0, 102, 255, 0.589);
}

/*----------------------*/

table.table td i {
    font-size: 19px;
}

table.table .avatar {
border-radius: 1px;
vertical-align: middle;
margin-right: 10px;
}

.btn-principal a {
    margin-top: 53px;
}

b {
    color: rgb(61, 61, 61);
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: rgb(61, 61, 61) !important;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 1px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: rgb(61, 61, 61);
} 

.pagination li.active a, .pagination li.active a.page-link {
    background: rgb(61, 61, 61);
    color: rgb(255, 255, 255) !important;
    border: solid 1px rgb(61, 61, 61);
}

.pagination li.active a:hover {        
    background: rgb(61, 61, 61);
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}   

/* Estilizacao da CUSTOM BOX */
.custom-checkbox {
position: relative;
}

.custom-checkbox input[type="checkbox"] {    
opacity: 0;
position: absolute;
margin: 5px 0 0 3px;
z-index: 9;
}

.custom-checkbox label:before{
width: 18px;
height: 18px;
}

.custom-checkbox label:before {
content: '';
margin-right: 10px;
display: inline-block;
vertical-align: text-top;
background: white;
border: 1px solid #bbb;
border-radius: 1px;
box-sizing: border-box;
z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
content: '';
position: absolute;
left: 6px;
top: 3px;
width: 6px;
height: 11px;
border: solid #000;
border-width: 0 3px 3px 0;
transform: inherit;
z-index: 3;
transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
border-color: #03A9F4;
background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
color: #b8b8b8;
cursor: auto;
box-shadow: none;
background: #ddd;
}

/* Estilizacao da Modal */
.modal .modal-dialog {
max-width: 400px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
padding: 20px 30px;
}

.modal .modal-content {
border-radius: 1px;
}

.modal .modal-footer {
background: #ecf0f1;
border-radius: 0 0 1px 1px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
border-radius: 1px;
box-shadow: none;
border-color: #dddddd;
}

.modal textarea.form-control {
resize: vertical;
}

.modal .btn {
border-radius: 1px;
min-width: 100px;
} 

.modal form label {
font-weight: normal;
} 