{% extends 'generic/base.html' %}
{% load user_tags %}
{% block title %}Editar usuário{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic">
          <img src="{% static 'img/forms/Group-Icon.png' %}" alt="IMG">
        </div>
  
        <form method="POST" action="{% url 'Editar Usuário' usuarioAlterado.pk %}">
          {% csrf_token %}
          
          <span class="login100-form-title pb-4">
            Edição de usuário
          </span>

          <!-- Exibe erros retornadas da view ou form, caso houver -->
          {% if messages %}
          <div class="form-group">
            <ul class="messages p-0 text-center" role="alert">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} p-0 m-0" {% endif %}>{{ message }}</li>
                {% if form.erros %}
                <li class="alert alert-warning p-0 m-0">{{ form.non_field_errors }}</li>
                {% endif %}
                {% endfor %}
            </ul>
          </div>
          {% endif %}

  
          <label for="">Nome de usuário:</label>
          <div class="wrap-input100">
            <input class="input100" type="text" placeholder="Nome de usuário (usado para acesso)" value="{{usuarioAlterado.username}}" disabled="true" autocomplete="off">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
  
          <label for="primeiroNome">Primeiro nome:</label>
          <div class="wrap-input100">
            <input class="input100" type="text" placeholder="Primeiro nome" value="{{usuarioAlterado.first_name}}" name="primeiroNome" autocomplete="on" id="primeiroNome"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
  
          <label for="sobrenome">Sobrenome:</label>
          <div class="wrap-input100">
            <input class="input100" type="text" placeholder="Sobrenome" value="{{usuarioAlterado.last_name}}" name="sobrenome" autocomplete="on" id="sobrenome"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <label for="email">E-mail:</label>
          <div class="wrap-input100">
            <input class="input100" placeholder="Insira seu e-mail" type="email" value="{{usuarioAlterado.email}}" name="email" autocomplete="on" id="email">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
  
          <label for="dataCriacao">Data de criação:</label>
          <div class="wrap-input100">
            <input class="input100" type="datetime" value="{{usuarioAlterado.date_joined}}" disabled="true" name="dataCriacao" autocomplete="on" id="nomeUsuario"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
  
          <label for="nomeUsuario">Último login:</label>
          <div class="wrap-input100">
            <input class="input100" type="datetime" value="{{usuarioAlterado.last_login}}" disabled="true" name="ultimoLogin" autocomplete="on" id="nomeUsuario"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <hr>

          <div class="row mb-3 pr-3 pl-3 d-flex">
            <div class="form-check form-switch col" data-toggle="tooltip" title="Marcar essa opção concede todas as permissões ao usuário">
              <input class="form-check-input" type="checkbox" name="usuarioAdministrador" id="usuarioAdministrador" {% if usuarioAlterado.is_superuser %} checked {% endif %}>
              <label class="form-check-label" for="usuarioAdministrador">Usuário administrador</label>
            </div>

            <div class="form-check form-switch float-right" data-toggle="tooltip" title="Para inativar/ativar o usuário, utilize o botão abaixo">
              <input class="form-check-input" onclick="verificaCheckBoxUsuarioAtivo()" type="checkbox" name="usuarioAtivo" id="usuarioAtivo" {% if usuarioAlterado.is_active %} checked {% endif %}>
              <label class="form-check-label" onclick="verificaCheckBoxUsuarioAtivo()" for="usuarioAtivo">Usuário ativo</label>
            </div>
          </div>
  
          <div class="d-flex">

              <div class="container-login100-form-btn mt-1">
                <button class="salvar-form-btn m-auto col" type="submit">
                  Salvar
                </button>
              </div>
  
              {% if usuarioAlterado.is_active %}
              <div class="container-login100-form-btn">
                <div class="container-login100-form-btn mb-3 ml-3">
                  <a class="limpar-form-btn m-auto col" href="{% url 'Inativar Usuário' usuarioAlterado.pk %}" data-toggle="modal" data-target="#inativar" id="inativarUsuario">
                    Inativar
                  </a>
                </div>
              </div>
  
              {% else %}
              <div class="container-login100-form-btn">
                <div class="container-login100-form-btn mb-3 ml-3">
                  <a class="salvar-form-btn bg-primary m-auto col" href="{% url 'Reativar Usuário' usuarioAlterado.pk %}" data-toggle="modal" data-target="#reativar" id="reativarUsuario">
                    Reativar
                  </a>
                </div>

              {% endif %}

            </div>
            
  
          </div>
  
        </form>
      </div>
    </div>
  </div>

  <script>

    // Se o usuário mudar o valor do checkbox, retornar ao valor original
    function verificaCheckBoxUsuarioAtivo() {

      if (document.getElementById("usuarioAtivo").checked == false) {
        document.getElementById("usuarioAtivo").click();

      } else if (document.getElementById("usuarioAtivo").checked == true) {
        document.getElementById("usuarioAtivo").click();
      }
      return
    }

    // Atualizando o action do form da confirmação de inativação (no modal do base.html)
    function atualizaActionFormInativar() {
      document.getElementById('formInativar').action = document.getElementById('inativarUsuario').href;
    }

    // Atualizando o action do form da confirmação de reativação (no modal do base.html)
    function atualizaActionFormReativar() {
      document.getElementById('formReativar').action = document.getElementById('reativarUsuario').href;
    }

  </script>

{% endblock %}
