{% extends 'generic/baseRegistration.html' %}
{% block content %}

<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="justify-content-center">
    <div class="card text-center d-flex p-5">

      {% if validlink %}

          <p>Digite e confirme a sua nova senha.</p>


          <!-- Exibe erros de login, caso houver -->
          {% if messages %}
          <div class="messages px-5" role="alert">
            {% for message in messages %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
          </div>
          {% endif %}

          <form action="{% url 'Alterar Senha'%}" method="post">
          {% csrf_token %}
              <table>
                  <tr>
                      <td class="text-right pr-3">{{ form.new_password1.errors }}
                          <label for="id_new_password1">Nova Senha:</label>
                      </td>
                      <td>{{ form.new_password1 }}</td>
                  </tr>
                  <tr>
                      <td class="text-right pr-3">{{ form.new_password2.errors }}
                          <label for="id_new_password2">Confirme sua senha:</label></td>
                      <td>{{ form.new_password2 }}</td>
                  </tr>
              </table>

              <div class="pt-3 justify-content-center">
                  <div class="pt-3"><input type="submit" value="Mudar minha senha" class="btn btn-success"/></div>
              </div>
          </form>
      {% else %}
          <h1>Falha na alteração de senha.</h1>
          <p>O link de alteração da senha é inválido, possívelmente porque ele já foi usado ou expirou. Por favor, solicite novamente a alteração de senha.</p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}
