{% extends 'generic/baseRegistration.html' %}
{% block title %}Redefinição de senha{% endblock %}
{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
        <div class="row">
          <div class="col-sm-7">
            <h2>Redefinição de senha</h2>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
          </div>
        </div>
      </div>
      <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">

        <p class="text-center">Digite no campo abaixo o seu endereço de email cadastrado 
          e nós iremos lhe enviar um email com instruções para configurar uma nova.</p>

        <form method="post" class="text-center">

          {% csrf_token %}
          <label>Insira seu e-mail</label>
          {{ form.email }}

          <button type="submit" class="btn btn-success mb-1 ml-2">Solicitar redefinição</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
