{% extends 'generic/base.html' %}
{% block title %}Senha alterada{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">

        <form method="post" action="{% url 'Redefinir Senha' %}">
          {% csrf_token %}
          
          <span class="login100-form-title pb-4">
            Senha redefinida com sucesso
          </span>

          <hr>

          <p>Sua senha foi redefinida com sucesso. Você já pode utilizar o sistema normalmente.</p> <br>


        </form>
      </div>
    </div>
  </div>

{% endblock %}
