{% extends 'generic/baseRegistration.html' %}
{% block title %}Redefinição de senha{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}

  <div class="col">
    <div class="table-wrapper" id="round">
      <div class="table-title" id="round-top">
        <div class="row">
          <div class="col-sm-7">
            <h2>Redefinição de senha</h2>
            <div class="col-md-1 col-xs-1 col-sm-1"></div>
          </div>
        </div>
      </div>
      <div class="pt-4 col-lg-12 col-md-10 col-xs-10 col-sm-10 ">

        <!-- Exibe erros de login, caso houver -->
        {% if messages %}
        <div class="form-group">
          <ul class="messages p-0" role="alert">
              {% for message in messages %}
               <li{% if message.tags %} class="{{ message.tags }} p-0 m-0" {% endif %}>{{ message }}</li>
               {% if form.erros %}
               <li class="alert alert-warning p-0 m-0">{{ form.non_field_errors }}</li>
               {% endif %}
              {% endfor %}
          </ul>
        </div>
        {% endif %}

        <p>Digite no campo abaixo a sua nova senha escolhida. Certifique-se de que as duas senhas coincidam.</p>

        <form method="post" action="{% url 'Redefinir Senha' %}">

          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label" for="novaSenha">Insira seu nova senha:</label>
            <input class="form-control col-3" type="password" name="novaSenha" autocomplete="current-password" required="" id="novaSenha">
          </div>

          <div class="mb-3">
            <label class="form-label" for="novaSenhaConfirmacao">Insira novamente seu nova senha:</label>
            <input class="form-control col-3" type="password" name="novaSenhaConfirmacao" autocomplete="current-password" required="" id="novaSenhaConfirmacao">
          </div>

          <button type="submit" class="btn btn-success mb-1">Solicitar redefinição</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
