{% extends 'generic/base.html' %}
{% block title %}Redefinição de senha{% endblock %}

{% block content %}
  {% load widget_tweaks %}
  {% block styles %}
    {% load user_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css"/>
  {% endblock %}



  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 justify-content-center">

        <form method="post" action="{% url 'Redefinir Senha' %}" class="w-75">
          {% csrf_token %}
          
          <span class="login100-form-title pb-4">
            Redefinição de senha
          </span>

          <!-- Exibe erros retornadas da view ou form, caso houver -->
          {% if messages %}
          <div class="form-group w-auto m-0 pb-3">
            <ul class="messages p-0 text-center" role="alert">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} p-0 m-0 text-wrap" {% endif %}>{{ message }}</li>
                {% if form.erros %}
                <li class="alert alert-warning p-0 m-0">{{ form.non_field_errors }}</li>
                {% endif %}
                {% endfor %}
            </ul>
          </div>
          {% endif %}

          
          <p class="text-center">Preencha os campos abaixo para prosseguir com sua redefinição de senha.</p> <br>
  
          <label for="senhaAtual">Senha atual:</label>
          <div class="wrap-input100">
            <input class="input100" placeholder="Insira sua senha atual" type="password" name="senhaAtual" autocomplete="current-password" required="true" id="senhaAtual">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <hr>
  
          <label for="novaSenha">Nova senha:</label>
          <div class="wrap-input100">
            <input class="input100" placeholder="Insira sua nova senha" type="password" name="novaSenha" autocomplete="off" required="true" id="novaSenha"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>
  
          <label for="novaSenhaConfirmacao">Repita sua nova senha:</label>
          <div class="wrap-input100">
            <input class="input100" placeholder="Insira novamente sua nova senha" type="password" name="novaSenhaConfirmacao" autocomplete="off" required="true" id="novaSenhaConfirmacao"> 
            <span class="focus-input100"></span>
            <span class="symbol-input100">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
          </div>

          <div class="d-flex">

              <div class="container-login100-form-btn mt-1 pb-4 pt-3">
                <button class="salvar-form-btn m-auto col-9" type="submit">
                  Confirmar alterações
                </button>
              </div>

            </div>
            
  
          </div>
  
        </form>
      </div>
    </div>
  </div>

{% endblock %}
