{% extends 'generic/base.html' %}
{% load user_tags %}
{% block title %}Doações{% endblock %}
{% block content %} {% block styles %}
<link rel="stylesheet" href="../static/css/listas/listas.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'img/forms/Donation-Icon.png' %}">
{% endblock %}

<div class="limiter">
    <div class="container-login100">
        <div class="d-flex wrap-login100" style="gap: 1rem !important;">
            <div class="login100-pic col-4">
                <img src="{% static '/img/forms/Donation-Icon.png' %}" alt="IMG">
            </div>

            <form class="login100-form mb-0 col" method="GET">

                <span class="login100-form-title pb-4">
                    Doações realizadas
                </span>
                
                <div class="d-flex pb-3">
                    <div class="wrap-input100">

                        <div class="col">
                            <label>Data Inicial:</label>
                            <input value="" class="form-control" name="data_inicial" type="date">
                        </div>
    
                    </div>
    
                    <div class="wrap-input100">
    
                        <div class="col">
                            <label>Data Final:</label>
                            <input value="" class="form-control" name="data_final" type="date">
                        </div>
    
                    </div>
                </div>
                

                
                <div class="wrap-input100 d-flex" >

                    <form method="get" class="d-flex">

                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </span>

                        <input type="text" value name="search" class="input100 "
                            placeholder="Busque pelo nome do chefe de família">
                            
                        <button class="salvar-form-btn col-3 ml-2" type="submit">
                            <i class="material-icons">manage_search</i>
                            Filtrar
                        </button>
                    </form>

                </div>
                
                
                <!-- <div class="d-flex flex-row-reverse col-">

                    <div class="container-login100-form-btn col-5 px-2">
                        <a class="salvar-form-btn m-1 mx-0" href="{% url 'Cadastro de Doações'%}">
                            Nova doação
                        </a>
                    </div>

                    <div class="container-login100-form-btn col-4 mr-1 px-2">
                        <a class="limpar-form-btn bg-primary mt-1 mx-0" href="{% url 'listar_doacoes_relatorio' %}">
                            Exibir tudo
                        </a>
                    </div>

                    <button class="limpar-form-btn col-4 mt-4 ml-1 px-2" type="reset">
                        <i class="material-icons m-0">manage_search</i>
                        Filtrar
                    </button>

                </div> -->

                
            </form>

            <table class="table table-striped table-hover table-responsive-sm text-justify">
                <thead>
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">ID Familia</th>
                        <th class="text-center">Data</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            
            {% include "includes/pagination.html" %}

        </div>

    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/assets/script.js"></script>

<script>

  // Atualizando o action do form da confirmação de exclusão (no modal do base.html)
  function atualizaActionFormDeleteCascade() {
    document.getElementById('formDeleteCascade').action = document.getElementById('deletarDoacao').href;
  }

</script>
{% endblock %}
