{% extends 'generic/base.html' %}
{% block title %}Cadastro de doação{% endblock %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load user_tags %}
{% load static %}
      <link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
      <link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
      <link rel="stylesheet" href="{% static 'css/base/base.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 w-100 justify-content-center">
      <!-- <div class="login100-pic">
        <img src="{% static 'img/forms/Family-Icon.png' %}" alt="IMG">
      </div> -->

      <form class="login100-form-doacao mb-4" method="post" id="form">
        {% csrf_token %}
        <span class="login100-form-title pb-1">
          <h2>Cadastro de doação</h2>
        </span>
        
        <div class="d-flex justify-content-between">
          <h6 class="float-left">Doação para: <b>{{ familia }}</b></h6>
          <h6 class="float-right">Representante atual: <b>{{user}}</b></h6>
        </div>
        

        <hr>

        <!-- Exibe erros retornadas da view ou form, caso houver -->
        {% if messages %}
        <div class="form-group">
          <ul class="messages p-0" role="alert">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }} p-0 m-0" {% endif %}>{{ message }}</li>
              {% if form.erros %}
              <li class="alert alert-warning p-0 m-0">{{ form.non_field_errors }}</li>
              {% endif %}
              {% endfor %}
          </ul>
        </div>
        {% endif %}

        <label for="justificativa">Justificativa:</label>
        <div class="wrap-input100">
          <input type="text" class="input100" name="justificativa" id="justificativa" placeholder="Justifique a doação" maxLength='250' minLength='5'> </input>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-comment" aria-hidden="true"></i>
          </span>
        </div>

        <div class="container wrap-input100">

          <div class="row">
            
            <div class="col pl-0">
              <label for="item" class="mb-0 pt-2">Selecione um item:</label>
                <div class="wrap-input100 ">
                  <div id="autocompleteItem" class="autocomplete mb-3 mt-2">
                      <input class="autocomplete-input" name="item" id="item" type="text" placeholder="Digite para buscar um item"/>
                      <ul class="autocomplete-result-list"></ul>
                  </div>
              </div>
            </div>

            <div class="mt-2">
              <label for="quantidade">Quantidade:</label>
              <input class="col mr-3 input100" type="number" id="quantidade" min=1 value=1 name="quantidade" style="width: 150px; height: 50px"> 
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                <i class="fa fa-address-card" aria-hidden="true"></i>
              </span>
            </div>

            <div class="align-baseline d-flex row mt-4">
              <button onclick="itemControl()" type="button" class="col-1 salvar-form-btn btn bg-primary mt-3 ml-3" id="btn">
                <span class="symbol-input100 p-0">
                  <i class="fa fa-plus text-light m-auto" aria-hidden="true"></i>
                </span>
              </button>
              <button type="button" onclick="limpar()" class="col-md-6 salvar-form-btn btn bg-light mt-3 ml-1">Limpar</button>
            </div>
    
          </div>
          
        </div>

        <h5 class="text-center">Lista de itens:</h5>
        <div>
            <table class="table table-light mt-3 w-100">
                <thead>
                  <tr>
                    <th class="col-md-12">Descrição do item</th>
                    <th class="col-4 text-center">Quantidade</th>
                    <th class="col text-center">Ações</th>
                  </tr>
                </thead>
                <tbody id="tableData">
                </tbody>
              </table>
        </div>

        <input type="hidden" name="itens" id="itens"></input>

        <hr>

        <h5 class="text-center">Últimas doações recebidas:</h5>
        <div>
          <table class="table table-striped table-hover table-responsive-sm text-justify">
          {% if doacoesAnteriores %}
            <thead>
              <tr>
                <th class="text-center">Representante:</th>
                <th class="text-center">Data:</th>
                <th class="text-center">Justificativa:</th>
              </tr>
            </thead>
            <tbody>
              {% for doacao in doacoesAnteriores %}
                <tr>
                  <td class="text-center"><a href="{% url 'Detalhes Doação' doacao.pk %}">{{ doacao.representante }}</a></td>
                  <td class="text-center"><a href="{% url 'Detalhes Doação' doacao.pk %}">{{ doacao.data }}</a></td>
                  <td class="text-center"><a href="{% url 'Detalhes Doação' doacao.pk %}">{{ doacao.justificativa }}</a></td>
                </tr>
              {% endfor %}
            </tbody>
            {% else %}
                <h6 class="text-center pt-2">Nenhuma doação encontrada.</h6> 
                
            {% endif %}
          </table>
        </div>

        <div class="buttons m-auto">

          <div class="container-login100-form-btn">
            <button class="salvar-form-btn w-50 m-0" onclick="sendData()">
              Salvar
            </button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

<script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
<script>
  /*
    new Autocomplete('#autocompleteRepresentante',{
        search: input=> {
            const url= `/searchRepresentanteByName/?nomeRepresentante=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    resolve(data.data)
                })
            })
        }
    })

  */

    function limpar() {
        const aux = document.querySelector("#item")
        aux.disabled = false;
        document.getElementById("item").value = ""
        document.getElementById("quantidade").value = ""
    }

    function sendData() {
      let itens = document.getElementById("itens").value

      if(itens == "") {
        alert("A doação deve possuir no mínimo um item!")
      } else {
        document.forms.form.submit()
      }
    }

    let itensInMemory =[]

    new Autocomplete('#autocompleteItem',{
        search: input=> {
            const url= `/searchItemByName/?nomeItem=${input}`
            return new Promise(resolve=>{
                fetch(url)
                .then(response => response.json())
                .then(data=>{
                    itensInMemory.push((data.data))
                    resolve(data.data)
                })
            })
        },
        onSubmit: (result) => {
          const aux = document.querySelector("#item")
          document.getElementById("quantidade").value = "1"
          aux.disabled = true;
        }
    })

    let count = 0
    let itensToBeSend=[]

    function itemControl(){
        aux = document.getElementById('item')
        aux.disabled = false
        item = document.getElementById('item').value
        aux = document.getElementById('quantidade')
        aux.disabled = false
        quantidade = document.getElementById('quantidade').value
        itensInMemory= itensInMemory.flat(3)

        if(item != "" && quantidade != "" && isValidItem(String(item))) {
          let element = document.getElementById("tableData")
          let tr = document.createElement("tr")
          let tdName = document.createElement("td")
          tdName.classList.add("col-md-12")
          let tdQuantity = document.createElement("td")
          tdQuantity.classList.add("text-center")
          let tdBtn = document.createElement("button")
          tdBtn.classList.add("mt-2")
          tdBtn.classList.add("mr-5")
          tdBtn.innerHTML = "Remover"
          tdBtn.classList.add("btn-sm")
          tdBtn.classList.add("btn-danger")
          tdBtn.classList.add("ml-5")
          tr.id = `tr${count}`
          tdBtn.onclick = function() {
            removeItem(tr.id, item)
          }
          tdQuantity.innerHTML= quantidade
          tdName.innerHTML = item
          tr.append(tdName)
          tr.append(tdQuantity)
          tr.append(tdBtn)

          element.appendChild(tr)

          itensToBeSend.push({'item': item, 'quantity': quantidade})

          cleanFields()
          count++
          document.getElementById("itens").value = JSON.stringify(itensToBeSend)
        }
    }

    function isValidItem(item) {
      if(itensInMemory.indexOf(String(item)) !== -1){
        document.getElementById("item").classList.add("form-control")
        document.getElementById("item").classList.add("is-valid")
        document.getElementById("item").classList.remove("is-invalid")
        return true
      } else {
        document.getElementById("item").classList.add("form-control")
        document.getElementById("item").classList.add("is-invalid")
        document.getElementById("item").classList.remove("is-valid")
        return false
      }
    }

    function cleanFields(){
      document.getElementById("item").value =""
      document.getElementById("quantidade").value =""
    }

    function removeItem(idElement, itemName){
      let element = document.getElementById("tableData")
      element.removeChild(document.getElementById(idElement))

      itensToBeSend.forEach( (valor,indice) => {
        if(valor['item'] === itemName){
          itensToBeSend.splice(indice, 1)
        }
      })

      count--
      document.getElementById("itens").value = JSON.stringify(itensToBeSend)
    }

</script>
{% endblock %}
