{% extends 'generic/base.html' %}
{% block title %}{{ nomePagina }}{% endblock %}
{% block content %} {% load widget_tweaks %} {% block styles %}
{% load user_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/listas/listas.css' %}">
<link rel="stylesheet" href="{% static 'css/reset/reset.css' %}">
<link rel="stylesheet" href="{% static 'css/base/base.css' %}">
<link rel="stylesheet" href="{% static 'css/forms/forms.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="icon" type="image/x-icon" href="{% static 'img/forms/Family-Icon.png' %}">
{% endblock %}

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-pic">
        <img src="{% static 'img/forms/Family-Icon.png' %}" alt="IMG">
      </div>

      <form class="login100-form mb-4" method="post" novalidate>
        {% csrf_token %}

        <span class="login100-form-title">
          <h2>{{ nomePagina }}</h2>
        </span>

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}
        
        {% if form.non_field_errors %}
          <div class="alert alert-danger h6 text-center" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}
            
            {% if form.is_bound %}
              {% if field.errors %}

                <div class="wrap-input100">
                  {% render_field field class="input100 is-invalid" %}

                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa {{ field.field.widget.attrs.icone }}" aria-hidden="true"></i>
                  </span>
                </div>

                  {% for error in field.errors %}
                    <div class="alert alert-warning h6 text-center py-1" role="alert">
                      {{ error }}
                    </div>
                  {% endfor %}

              {% else %}

                <div class="wrap-input100">
                  {% render_field field class="input100 is-valid" %}

                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa {{ field.field.widget.attrs.icone }}" aria-hidden="true"></i>
                  </span>
                </div>
            
              {% endif %}
            {% else %}

              <div class="wrap-input100">
                {% render_field field class="input100" %}

                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  <i class="fa {{ field.field.widget.attrs.icone }}" aria-hidden="true"></i>
                </span>
              </div>
      
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}

        <div class="buttons">

          <div class="container-login100-form-btn">
            <button class="salvar-form-btn" type="submit">
              Salvar
            </button>
          </div>

          <div class="container-login100-form-btn">
            <button type="reset" class="limpar-form-btn">
              Limpar
            </button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const cpfInput = document.getElementById("id_cpfChefeFamilia");
    const cnpjInput = document.getElementById("id_cnpj");

    if (cpfInput) {
      cpfInput.setAttribute("maxLength", 11);

      cpfInput.addEventListener("input", () => {
        clearInput(cpfInput);
      });

      cpfInput.addEventListener("paste", () => {
        clearInput(cpfInput);
      });
    }

    if (cnpjInput) {
      cnpjInput.setAttribute("maxLength", 14);

      cnpjInput.addEventListener("input", () => {
        clearInput(cnpjInput);
      });

      cnpjInput.addEventListener("paste", () => {
        clearInput(cnpjInput);
      });
    }
  }

  const clearInput = (input) => {
    input.value = input.value.replace(/\D+/g, '');
  }

</script>
{% endblock %}